@model StudentManagerment2.Models.Subject

@{
    ViewBag.Title = "Delete";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-danger text-white">
            <h3 class="mb-0"><i class="bi bi-exclamation-triangle"></i> Xoá Môn Học</h3>
        </div>
        <div class="card-body">
            <h4>Bạn có chắc chắn muốn xoá môn học này?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SubjectName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SubjectName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Xoá
                    </button>
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
